
<footer>
    <div class="f-info"></div>

    <div class="f-info-socials">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>

    <div >&copy; WanderLust Private Limited</div>

    <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
</footer>

<!-- Font Awesome CDN -->
<link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha384-oBqDVmMz8K4/JQ9xrJfZj9JLjGst8wWM/K7P1qtdNfY4YOHj6g1UQ7G/6DgK1V22" 
    crossorigin="anonymous">



