<% layout("/layouts/boilerplate") -%>

<div class="row mt-5">
    <div class="alert alert-danger col-6 offset-3 text-center shadow-sm" role="alert">
        <h4 class="alert-heading">Oops! Something went wrong.</h4>
        <p><%= message || "An unknown error occurred!" %></p>
        <hr>
        <a href="/" class="btn btn-outline-dark btn-sm">Go Home</a>
    </div>
</div>
